.btn-exibir{
	color: white !important;
}

.max-width{
	max-width: 1000px;
}

.ulMenu{
	list-style: none;
	width: 100%;
}

.liTemas{
	float: left;
	margin: 0px 5px;
	padding: 5px;
	background: orange;
}

.liTemas:hover{
	background: red;
}